/* GENERAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* UTILITIES */
.posrelative {
    position: relative;
}

.posabsolute {
    position: absolute;
}

.posfixed {
    position: fixed;
}

.upgrade-btn {
    background-color: rgba(0, 0, 0, 0.89);
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;

}

.flexgrow {
    flex-grow: 1;
}

/* MAIN CONTENT */
.flex-container {
    display: flex;
    flex-direction: column;
}

.fixed-header {
    position: fixed;
    right: 0;
    text-align: right;
    width: calc(100% - 233px);
    background-color: rgba(0, 0, 0, 0.89);
    padding: 20px;
}

.main-section {
    display: flex;
    overflow: auto;
}

.sidebar {
    background-color: black;
    color: lightgray;
    width: 233px;
    height: calc(100vh - 80px);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.sidebar ul {
    list-style: none;
    padding-bottom: 20px;
    line-height: 40px;
    font-size: 13px;
}

.sidebar .logo {
    width: 86%;
    padding-bottom: 20px;
}

.sidebar .sideicon {
    width: 16%;
    vertical-align: middle;
}

.sidebar h4 {
    padding-bottom: 10px;
}

.sidebar .plusicon {
    font-size: 40px;
}

.sidebar .profileicon {
    width: 14%;
    background-color: grey;
    border-radius: 50%;
    padding: 0 2px;
    vertical-align: middle;
}

.sidebar .downloadicon {
    width: 10%;
    vertical-align: middle;
}

.profile hr {
    margin: 20px 0;
}




.main-content {
    padding-top: 100px;
}

.toolbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 80px;
    width: 100%;
    bottom: 0;
}
