/* GENERAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* UTILITIES */
.posrelative {
    position: relative;
}

.posabsolute {
    position: absolute;
}

.posfixed {
    position: fixed;
}

.upgrade-btn {
    background-color: rgba(0, 0, 0, 0.89);
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;

}

/* MAIN CONTENT */
.flex-container {
    display: flex;
    flex-direction: column;
}

.fixed-header {
    position: fixed;
    right: 0;
    text-align: right;
    width: calc(100% - 233px);
    background-color: rgba(0, 0, 0, 0.89);
    padding: 20px;
}

.main-section {
    display: flex;
}

.sidebar {
    background-color: red;
    width: 233px;
    height: 100vh;
    padding: 10px 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar img {
    width: 86%;
}

.main-content {
    padding-top: 100px;
}

.toolbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 80px;
    width: 100%;
    bottom: 0;
}